.DS_Store
node_modules
/dist
.env


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJfaWQiOjEsImZ1bGxfbmFtZSI6IkxpaGxlIEdvbGlhdGgiLCJlbWFpbCI6IkxpZmVAZ21haWwuY29tIiwidXNlcl90eXBlIjoiYWRtaW4iLCJwaG9uZSI6IjA3OTk5OTk5IiwiY291bnRyeSI6IlNvdXRoIEFmcmljYSIsImJpbGxpbmdfYWRkcmVzcyI6IkFkZHJlc3MiLCJkZWZhdWx0X3NoaXBwaW5nX2FkZHJlc3MiOiJhZGRyZXNzIn0sImlhdCI6MTY2MDI5Mjk5MSwiZXhwIjoxNjkxODI4OTkxfQ.FuT9PnDremi-b5mpa3qPetFu_LQoxAVtEmdjHm24ex8
